---
import Layout from '../layouts/Layout.astro';
import Link from '../layouts/Link.astro';
---

<Layout>
	<main class="flex flex-col items-center space-y-3">
		<h1 class="text-gray-100 text-4xl font-bold">brotips archive</h1>

		<Link to="/brotips/tips/1/">browse</a>
		<Link to="/brotips/about/">about</a>
		<Link to="/brotips/sightings/">sightings</a>
	</main>
</Layout>
