---
import Layout from '../layouts/Layout.astro';
import Link from '../layouts/Link.astro';
---

<Layout>
	<main class="flex flex-col space-y-3">
		<h1 class="text-gray-100 text-4xl font-bold">sightings</h1>

		<p class="text-xl text-gray-200">the quotes found in unexpected places accross the internet</p>

		<Link to="https://github.com/notepad-plus-plus/notepad-plus-plus/blob/1f4cbdb8b76c736c9ec1e69d4157c9650fd6f590/PowerEditor/src/Notepad_plus.cpp#L7596">
			brotips #1001 in notepad++
		</Link>
	</main>
</Layout>
